<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300" rel="stylesheet" type="text/css">
        <title>Hello World</title>
    </head>
    <body onload="onLoad()" ng-controller="mainCtrl">
        
        <div class="header">
        </div>

        <div class="map" id="map-section" ng-class="{blur: typeButtonsVisible===true}"></div>
        
        <div class="tip-section" ng-class="{active: typeButtonsVisible===true}">

            <div class="tip-type-buttons" ng-class="{visible: typeButtonsVisible===true}">
                <div ng-click="addPin(1)" class="tip-type-button"><img src="res/drink_icon.png" /></div>
                <div ng-click="addPin(2)" class="tip-type-button"><img src="res/pizza_icon.png" /></div>
                <div ng-click="addPin(3)" class="tip-type-button"><img src="res/telescope_icon.png" /></div>
                <div ng-click="addPin(4)" class="tip-type-button"><img src="res/walk_icon.png" /></div>
                <div ng-click="addPin(5)" class="tip-type-button"><img src="res/heart_icon.png" /></div>
            </div>

            <div class="tip-button" ng-click="showTypeButtons()"></div>

        </div>
        
        <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
        <script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="js/map.js"></script>
        <script src="js/controllers/mainCtrl.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>
