body {
    transition-duration:0.5s;
}

.header {
    transition-duration:inherit;
    z-index:1;
    position:absolute;
    top:0; left:0; right:0;
    height:10%;
    padding-top:5%;
    padding-bottom:5%;
    opacity:0.5;
    background-color:blue;
}

.map {
    transition-duration:inherit;
    z-index:0;
    position:absolute;
    top:0;bottom:0; left:0; right:0;
    background-color:white;
}

.blur
{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.tip-section {
    transition-duration:inherit;
    pointer-events:none;
    z-index:1;
    position:absolute;
    top:0;bottom:0; left:0; right:0;
}

.tip-section.active {
    pointer-events:auto;
}

.tip-button {
    pointer-events:auto;
    background-color:red;
    position:absolute;
    bottom:10%; left:40%;
    width:20%;
    height:0;
    padding-top:20%;
    overflow:hidden;
    border-radius:50%;
}

.tip-type-buttons {
    transition-duration:inherit;
    position:absolute;
    top:70%; left:0; right:0;
    height:20%;
    opacity:0;
}

.tip-type-buttons.visible {
    opacity:1;
    top:50%;
}

.tip-type-button {
    background-color:grey;
    margin:0px 5%;
    width:10%;
    height:0;
    float:left;
    padding-bottom:10%;
    overflow:hidden;
    border-radius:50%;
}

.button-two {
    margin-left: 20px;
}