body {
}

.header {
    transition-duration:inherit;
    z-index:2;
    position:absolute;
    top:0; left:0; right:0;
    height:10%;
    padding-top:5%;
    padding-bottom:5%;
    opacity:0.5;
    background-color:lightgrey;
}

.map {
    transition-duration:0.5s;
    z-index:0;
    position:absolute;
    top:0;bottom:-10%; left:0; right:0;
    background-color:white;
}

.blur
{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.tip-section {
    pointer-events:none;
    z-index:1;
    position:absolute;
    top:0;bottom:0; left:0; right:0;
}

.tip-section.active {
    pointer-events:auto;
}

.tip-button {
    pointer-events:auto;
    background-color:lightskyblue;
    position:absolute;
    bottom:10%; left:40%;
    width:20%;
    height:0;
    padding-top:20%;
    overflow:hidden;
    border-radius:50%;
}

.tip-type-buttons {
    transition-duration:0.5s;
    position:absolute;
    top:70%; left:0; right:0;
    height:20%;
    opacity:0;
}

.tip-type-buttons.visible {
    opacity:1;
    top:50%;
}

.tip-type-button {
    background-color:rgba(255, 255, 255, 0.7);
    margin:0px 3%;
    width:14%;
    height:0;
    float:left;
    padding-bottom:14%;
    overflow:hidden;
    border-radius:50%;
}

.tip-type-button img {
    position: relative;
    width: 100%;
    overflow: hidden;
}
