.header {
    z-index:1;
    position:absolute;
    top:0; left:0; right:0;
    height:10%;
    padding-top:5%;
    padding-bottom:5%;
    opacity:0.5;
    background-color:blue;
}

.map {
    z-index:0;
    position:absolute;
    top:0;bottom:0; left:0; right:0;
    background-color:white;
}

.add-tip-section {
    z-index:1;
    position:absolute;
    top:0;bottom:0; left:0; right:0;
}

.add-tip-button {
    background-color:red;
    position:absolute;
    bottom:10%; left:40%;
    width:20%;
    height:0;
    padding-top:20%;
    overflow:hidden;
    border-radius:50%;
}

.add-tip-type-buttons-row {
    background-color:purple;
    position:absolute;
    top:40%; left:0; right:0;
    height:20%;
}

.add-tip-type-button {
    background-color:grey;
    margin:0px 5%;
    width:10%;
    height:0;
    float:left;
    padding-bottom:10%;
    overflow:hidden;
    border-radius:50%;
}

.button-two {
    margin-left: 20px;
}